body {
  margin: 0px;
  background: aquamarine;
}

.header {
  position: absolute;
  width: 100vw;
  background-color: orangered;
  color: aqua;
}
.container {
  display: flex;
  justify-content: center;
}

#main-content {
  position: absolute;
  top: 80px;
  width: 50vw;
  height: 100vh;
  min-height: 0;
  background: greenyellow;
}
